BINANCE_API_KEY = "Binance-Api-Key"
BINANCE_API_SECRET = "Binance-Api-Secret"
PORT = 8031
HOST = "127.0.0.1"
GROQ_API_KEY = "Groq-Api-Key"
ALPHA_VINTAGE_API_KEY = "Alpha-Vintage-Api-Key"
NEWS_TOOL_API_KEY = "News-Api-Key"
CNC_TOOL_API_KEY = "CNC-Api-Key"
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_OAUTH_JSON_PATH = "GOOGLE_PATH"
APP_BASE_URL=http://127.0.0.1:8031
GOOGLE_REDIRECT_URI=http://127.0.0.1:8031/auth/google/callback
ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASSWORD=ADMIN_PASSWORD
USER_CREDITS = 10
PREMIUM_CREDITS = 100
ADMIN_CREDITS = 100000
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
PAYPAL_PLAN_PRICE=0.00
PAYPAL_PLAN_CURRENCY=USD
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/quant_db
SECRET_KEY=Your_Secret_Key_Here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30